* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


h1, h2, h4 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Londrina Solid', cursive;
}


.carro, .links {
    color: #ffffff;
    text-decoration: none;
}

.ingreso {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 10rem;
    color: rgb(255, 124, 16);
    text-decoration: none;
}

.unitBadge {
    position:absolute;
    left: 94.2%;
    top:14%;
}

.parrafo {
    color: white;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-size: 24px;
    width: 40%;
}

.contenedor__Cart {
    margin: 5%;
}

.material-icons { font-size: 36px; }

.tabla {
    width: 100%;
}
.cabeceras__Cart, .listado__Cart {
    border-bottom: 1px solid rgb(58, 58, 58);
}

.cabeceras__Cart th {
    margin: 2%;
}

.listado__Cart:first-child {
    width: 50%;
}

.cartProd {
    display: flex;
}

.cart__prodDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
}


.quitar:hover {
    text-decoration: underline;
    cursor: pointer;
}

th, td {
    margin: 2%;
    padding: 1%;
    text-align: center;
}

.cart__footer {
    display: flex;
    margin: 5% 5%;
}

.cart__form {
    display: flex;
    flex-direction: column;
}

.cart__total, .cart__form {
    width: 50%;
    margin: 2%;
}

.form {
    margin: 5% 15%;
    border: 1px solid gray;
    border-radius: 2%;
    padding: 2% 5%;
}

.form__camp {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}


.containerOrder {
    margin: 2% 15%;
}

.boxOrder {
    border: 1px solid black;
    border-radius: 1%;
    padding: 2% 3%;
}

.detailOrder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detailOrder p {
    text-decoration: underline;
}