* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
}

.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h4 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Londrina Solid', cursive;
}

.buttons {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.parrafo {
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-size: 24px;
    width: 45%;
}

/* NAVBAR*/
.navBar {
    font-family: 'Bangers', cursive;
    font-size: 1.8rem;
}

.carro,
.links {
    color: #ffffff;
    text-decoration: none;
}



.cartWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HOME */

.titulo {
    font-size: 4rem;
    letter-spacing: 0.5rem;
}

.ingreso {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 7rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke: 2px black;
}

.ingreso:hover {
    border: 20px solid rgb(109, 109, 109);
    border-radius: 50%;
}

/* CART */
.contenedor__Cart {
    margin: 5%;
}

.material-icons {
    font-size: 36px;
}

.tabla {
    width: 100%;
}

.cabeceras__Cart,
.listado__Cart {
    border-bottom: 1px solid rgb(58, 58, 58);
}

.cabeceras__Cart th {
    margin: 2%;
}

.listado__Cart:first-child {
    width: 50%;
}

.cartProd {
    display: flex;
}

.cart__prodDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
}


.quitar:hover {
    text-decoration: underline;
    cursor: pointer;
}

th,
td {
    margin: 2%;
    padding: 1%;
    text-align: center;
}

.cart__footer {
    display: flex;
    margin: 5% 5%;
}

.cart__form {
    display: flex;
    flex-direction: column;
}

.cart__total,
.cart__form {
    width: 50%;
    margin: 2%;
}

.form {
    margin: 5% 15%;
    border: 1px solid gray;
    border-radius: 2%;
    padding: 2% 5%;
}

.form__camp {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}


.containerOrder {
    margin: 2% 15%;
}

.boxOrder {
    border: 1px solid black;
    border-radius: 1%;
    padding: 2% 3%;
}

.detailOrder {
    justify-content: center;
}

.detailOrder p {
    text-decoration: underline;
}


/* DETAIL */
.container__card {
    width: 280px;
    height: 500px;
    margin: 30px auto;
}

.card__detail {
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.card__head {
    position: relative;
    height: 252px;
    background: #fa782e;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 25px 25px 0 0;
}

.product-img {
    position: absolute;
    left: 0;
    margin-top: -16px;
    margin-left: 50px;
}

.product-detail {
    padding: 0 20px;
    font-size: 11px;
    color: #fff;
}

.product-detail h2 {
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.card__body {
    height: 255px;
    background: #fff;
    border-radius: 0 0 25px 25px;
}

.product-title {
    padding: 10px 20px 5px 20px;
    display: block;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product-title b {
    font-weight: 900;
    letter-spacing: 0px;
}

.product-caption {
    display: block;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-stock h4 {
    font-size: 15px;
    padding: 0 21px;
    margin-top: 5px;
    padding-bottom: 2px;
    text-transform: uppercase;
    text-align: start;
}

.stock {
    margin-left: 20px;
}

.product-price {
    background: #11e95b;
    padding: 2px 15px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: -13px;
    margin-left: 175px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.product-price b {
    margin-left: 5px;
}

.buttonsFinish {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

/*ITEM COUNT*/
.itemCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;

}

.operators {
    background-color: #11e95b;
    border-radius: 7px;
    padding: 2px 15px;
    font-size: 1.3rem;
}


/* FOOTER */

.footer {
    background-color: #181818;
    display: flex;
    align-items: center;
    padding: 0 2%;
}

.navFooter {
    display: flex;
    flex-direction: column;
    font-family: 'Londrina Solid', cursive;
    width: 18%;
}

.centralFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 64%;
}

.centralFooter h4, .credits p {
    color:#fff
}

.linkFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 18%;
}

.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo__footer {
    margin: 1%;
}


.react-icons {
    text-decoration: none;
    font-size: 2em;
}
