* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carro {
    text-decoration: none;
}